extends layout

block content
  ul.breadcrumb
    li
      a(href='/admin') Home
      span.divider /
    li.active= manage

  h4= manage

  table.table.table-hover
    thead
      th #
      th Item
      th Quantity
      th Global Cost
      th
    each item in items
      tr
        td= item.id
        td= item.name
        td= item.qty
        td= item.globalCost
        td
          form(method='POST', action='/admin/edit/' + profession._id)
            input(type='hidden', name='_method', value='DELETE')
            input(type='hidden', name='itemObjectId', value=''+item._id+'')
            input(type='hidden', name='professionId', value=''+profession._id+'')
            input(type='hidden', name='id', value=''+item.id+'')
            input(type='hidden', name='name', value=''+item.name+'')
            input(type='hidden', name='qty', value=''+item.qty+'')
            input(type='hidden', name='globalCost', value=''+item.globalCost+'')
            button(type='submit', class='btn btn-danger') Delete

  form(method='POST', action='/admin/edit/' + profession._id)
    input(type='hidden', name='professionId', value=''+profession._id+'')
    input(type='text', placeholder='Item #', name='id')

    input(type='text', placeholder='Item name', name='name')

    input(type='text', placeholder='Quantity', name='qty')

    input(type='text', placeholder='Global cost', name='globalCost')

    button(type='submit', class='btn btn-primary') Add item