extends layout

block content
  script
    var realm        = !{document}
    var auctions     = !{auctions}
    var professions  = !{professions}

  p 
    a(href='/') Return to list
  h2.page-header= title
    small.pull-right= realm.battlegroup

  ul.nav.nav-pills
    //
      li.active
        a(href='#neutral', data-toggle='tab') Neutral
      li
        a(href='#horde', data-toggle='tab') Horde
      li
        a(href='#alliance', data-toggle='tab') Alliance
    li.active
      a(href='#professions', data-toggle='tab') Professions
    li
      a(href='#profession-items', data-toggle='tab') Profession Items
  
  div.pill-content
    //
      div.tab-pane.active#neutral
        table.table.table-hover
          thead
            tr
              th 
                p Item
                input(type='text', ng-model='query.item', placeholder='eg. 12345')
              th
                p Buyout
                input(type='text', ng-model='query.buyout', placeholder='eg. 12345')
          tbody
            tr(ng-repeat='auction in neutralAuctions | filter:query')
              td {{ auction.item }} 
              td {{ auction.buyout }}
      div.tab-pane#horde
        table.table.table-hover
          thead
            tr
              th 
                p Item
                input(type='text', ng-model='query.item', placeholder='eg. 12345')
              th
                p Buyout
                input(type='text', ng-model='query.buyout', placeholder='eg. 12345')
          tbody
            tr(ng-repeat='auction in hordeAuctions | filter:query')
              td {{ auction.item }} 
              td {{ auction.buyout }}
      div.tab-pane#alliance
        table.table.table-hover
          thead
            tr
              th 
                p Item
                input(type='text', ng-model='query.item', placeholder='eg. 12345')
              th
                p Buyout
                input(type='text', ng-model='query.buyout', placeholder='eg. 12345')
          tbody
            tr(ng-repeat='auction in allianceAuctions | filter:query')
              td {{ auction.item }} 
              td {{ auction.buyout }}
    div.pill-pane.active#professions
      table.table.table-hover
        thead
          tr
            th(width='30%')
            th(width='30%') Alliance Cost
            th(width='30%') Horde Cost
        tbody
          tr(ng-repeat='(i, profession) in professions')
            td(width='30%') 
              h3 {{ i }}
            td(width='30%')
              p.cost {{ profession.alliance.cost }}
            td(width='30%')
              p.cost {{ profession.horde.cost }}
    div.pill-pane#profession-items
      table.table.table-hover
        thead
          tr
            th(width='30%')
            th(width='30%') Alliance Cost
            th(width='30%') Horde Cost
        tbody
          tr(ng-repeat='(i, profession) in professions')
            td(width='30%') 
              h3 {{ i }}
            td(width='30%')
              ul
                li.pull-left(ng-repeat='item in profession.alliance.items')
                  span.span3.label.label-info {{ item.name }}
                  span.span2.label.muted {{ item.realmCost }}
            td(width='30%')
              ul
                li.pull-left(ng-repeat='item in profession.horde.items')
                  span.span3.label.label-info {{ item.name }}
                  span.span2.label.muted {{ item.realmCost }}