extends layout

block content
  script
    var realm    = !{document}
    var auctions = !{auctions}

  p 
    a(href='/') Return to list
  h2= title
  table#realm.table.table-hover
    thead
      tr
        th Battlegroup
        th Population
        th Timezone
    tbody
      tr
        td= realm.battlegroup
        td= realm.population
        td= realm.timezone

  ul.nav.nav-tabs
    li.active
      a(href='#neutral', data-toggle='tab') Neutral
    li
      a(href='#horde', data-toggle='tab') Horde
    li
      a(href='#alliance', data-toggle='tab') Alliance
  
  div.tab-content
    div.tab-pane.active#neutral
      table.table.table-hover
        thead
          tr
            th 
              p Item
              input(type='text', ng-model='query.item', placeholder='eg. 12345')
            th
              p Buyout
              input(type='text', ng-model='query.buyout', placeholder='eg. 12345')
        tbody
          tr(ng-repeat='auction in neutralAuctions | filter:query')
            td {{ auction.item }} 
            td {{ auction.buyout }}
    div.tab-pane#horde
      table.table.table-hover
        thead
          tr
            th 
              p Item
              input(type='text', ng-model='query.item', placeholder='eg. 12345')
            th
              p Buyout
              input(type='text', ng-model='query.buyout', placeholder='eg. 12345')
        tbody
          tr(ng-repeat='auction in hordeAuctions | filter:query')
            td {{ auction.item }} 
            td {{ auction.buyout }}
    div.tab-pane#alliance
      table.table.table-hover
        thead
          tr
            th 
              p Item
              input(type='text', ng-model='query.item', placeholder='eg. 12345')
            th
              p Buyout
              input(type='text', ng-model='query.buyout', placeholder='eg. 12345')
        tbody
          tr(ng-repeat='auction in allianceAuctions | filter:query')
            td {{ auction.item }} 
            td {{ auction.buyout }}