extends layout

block content
  script
    var realm        = !{document}
    var professions  = !{professions}
    var professionCost = !{professionCost}

  p 
    a(href='/') Return to list
  h2.page-header= title
    small.pull-right= realm.battlegroup

  ul.nav.nav-pills
    li.active
      a(href='#professions', data-toggle='tab') Professions
    li
      a(href='#profession-items', data-toggle='tab') Profession Items
  
  div.pill-content
    div.pill-pane.active#professions
      table.table.table-hover
        thead
          tr
            th(width='30%')
            th(width='30%') Alliance Cost
            th(width='30%') Horde Cost
        tbody
          tr(ng-repeat='(i, profession) in professionCost')
            td(width='30%') 
              h3 {{ i }}
            td(width='30%')
              p.cost {{ profession.alliance }}
            td(width='30%')
              p.cost {{ profession.horde }}
    div.pill-pane#profession-items
      table.table.table-hover
        thead
          tr
            th(width='30%')
            th(width='30%') Alliance Cost
            th(width='30%') Horde Cost
        tbody
          tr(ng-repeat='(i, profession) in professionCost')
            td(width='30%') 
              h3 {{ i }}
            td(width='30%')
              ul
                li.pull-left(ng-repeat='item in profession.items')
                  span.span3.label.label-info: a(href='#', rel='item={{item._id}}', style='color: #fff;') {{ item._id }}
                  span.span2.label.muted {{ item.realmCost }}
            td(width='30%')
              ul
                li.pull-left(ng-repeat='item in profession.items')
                  span.span3.label.label-info: a(href='#', rel='item={{item._id}}', style='color: #fff;') {{ item._id }}
                  span.span2.label.muted {{ item.realmCost }}